<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-info">
    <div class="panel-heading" style="margin-bottom:20px;margin-top:15px">
        修改商户
    </div>
   <!-- /.col-lg-12 -->

<div class="form" ng-submit="modifyMerchant(merchant)" ng-controller="merchantController">
<form class="form-horizontal">
    <div class="form-group">
        <label for="merchantCode" class="col-sm-2 control-label">商户号</label>
        <div class="col-sm-6">
            <input type="hidden" ng-model="merchant.tenantCode">
            <input type="text" class="form-control" id="merchantCode" placeholder="商户号" readonly ng-model="merchant.code">
        </div>
    </div>
   <div class="form-group">
      <label for="merchantName" class="col-sm-2 control-label">商户名称</label>
      <div class="col-sm-6">
         <input type="text" class="form-control" id="merchantName" placeholder="商户名称" ng-model="merchant.name">
      </div>
   </div>
    <div class="form-group">
        <label for="contact" class="col-sm-2 control-label">联系人</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="contact" placeholder="联系人" ng-model="merchant.contact">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">电话</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="phone" placeholder="联系人" ng-model="merchant.phone">
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">商户地址</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="address" placeholder="商户地址" ng-model="merchant.address">
        </div>
    </div>
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <button type="submit" class="btn btn-primary" >修改</button>
      </div>
   </div>
</form>
</div>
</div>
</div>
</div>