<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-info">
    <div class="panel-heading" style="margin-bottom:20px;margin-top:15px">
        新建商户
    </div>
   <!-- /.col-lg-12 -->

<div class="form" ng-submit="createTenant(tenant)" ng-controller="tenantController">
<form class="form-horizontal">
   <div class="form-group">
      <label for="tenantName" class="col-sm-2 control-label">商户名称</label>
      <div class="col-sm-6">
         <input type="text" class="form-control" id="tenantName" placeholder="商户名称" ng-model="tenant.tenantName">
      </div>
   </div>
   <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">签约时间</label>
      <div class="col-sm-6">
         <input type="text" class="form-control" id="signingDate" placeholder="签约时间" ng-model="tenant.signingDate">
      </div>
   </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">联系人</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="contact" placeholder="联系人" ng-model="tenant.contact">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">商户地址</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" id="address" placeholder="商户地址" ng-model="tenant.address">
        </div>
    </div>
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <button type="submit" class="btn btn-primary"  ui-sref="dashboard.search-tenant">创建</button>
      </div>
   </div>
</form>
</div>
</div>
</div>
</div>